.formulario{
    border: 2px black solid;
}

.imagen {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    
}

.navbar{
    height: 140px;
}

.lista{
    margin-top: 35px;
}

